<script src="https://api-maps.yandex.ru/2.1/?apikey=<5980daf4-e53c-4052-b458-669ac5cef67b>&lang=ru_RU" type="text/javascript"></script>
<h1>All places</h1>

<script type="text/javascript">
  placemarks = [];
</script>


<% @places.each do |place| %>
  <script type="text/javascript">
  	placemarks.push([
        [ [ <%= place.latitude %> ], [ <%= place.longitude %> ] ],
        [ '<%= place.name %>' ],
        [ ['<%= place.short_description %>'], ['<%= place.picture_url %>'] ]                        
    ]);
	</script>
<% end %>

<script type="text/javascript">

  ymaps.ready(init);

  geoObjects= [];

  function init() { 
    var map = new ymaps.Map("map", {

      center: [59.932835, 30.342164],

      zoom: 10
    });

  for (var i = 0; i < placemarks.length; i++) {
      
      geoObjects[i] = new ymaps.GeoObject({          
        geometry: {
          type: "Point",
          coordinates: placemarks[i][0]
        },
        properties: {
          clusterCaption: placemarks[i][1],
          balloonContentBody: placemarks[i][2]
        }
      });

  }
  var clusterer = new ymaps.Clusterer({
    
  });

  clusterer.add(geoObjects);
  map.geoObjects.add(clusterer);

}
</script>

<div id="map" style="width: -1; height: 92vh"></div>
